{% extends "base.html" %}
{% block content %}
  <div class="contaiter-container-fluid">
    <div class="row">
      <div class="col-lg-5 col-md-12">
        <img src="{{ me }}" class="img-fluid" alt="Responsive image">
      </div>
      <div class="col-lg-5 col-md-12 col-sm-12">
        <h1 class="display-4">Nikita Tonkoshkur</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
           sed do eiusmod tempor incididunt ut labore et dolore magna
           aliqua. Ut enim ad minim veniam, quis nostrud exercitation
           ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
           irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
           fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
           sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
{% endblock %}
