<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nikita Tonkoshkur Photography</title>
    {# bootstrap #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Montserrat" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'css/favicon.ico' %}"/>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
    <script>
      $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });
    </script>
  </head>
  <body id="page-top">

    <!-- navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light" id="mainNav" style="background-color: #ffffff;">
      <a class="navbar-brand js-scroll-trigger" {% if activate == 'portf:home'%}href="#page-top"{% elif activate == 'blog'%}href="#page-top"{% else %}href="{% url 'portf:home' %}"{% endif %}>NT Photography</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'portf:home' %}">portfolio<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:bloghomepage' %}">blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'portf:about' %}">about</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'portf:contact' %}">contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
    <br><br><br><br>
    {% block content %}
    {% endblock %}
    <hr>
    <!-- Footer -->
    <footer id="ftr" class="page-footer font-small special-color-dark pt-2">
      <div class="container">
        <ul id="icons" class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a href="https://www.instagram.com/bloodwithmilk25/" class="fb-ic"><i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x" style="font-size:36px"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://t.me/NikitaTonkoshkur" class="fb-ic"><i class="fa fa-telegram fa-lg white-text mr-md-5 mr-3 fa-2x" style="font-size:36px"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.facebook.com/NikitaTonkoshkur" class="fb-ic"><i class="fa fa-facebook-square fa-lg white-text mr-md-5 mr-3 fa-2x" style="font-size:36px"></i></a>
          </li>
        </ul>
      </div>
    </footer>
  <!-- Footer -->
  </body>
  <!-- bootstrap -->

  <script
  src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"
  integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk="
  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  <script src="{% static 'js/master.js' %}"></script>
</html>
