{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5 col-md-12 col-sm-12">
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="SUBMIT" class="btn btn-primary btn-large">
      </form>
    </div>
    <div class="col-lg-3">
      <address>
        <strong>NT Photography, Inc.</strong><br>
        1355 Market St, Suite 900<br>
        San Francisco, CA 94103<br>
        (123) 456-7890
      </address>
      <address>
        <strong>Nikita Tonkoshkur</strong><br>
        <a href="mailto:#">humapen@gmail.com</a>
      </address>
    </div>
  </div>
</div>
{% endblock %}
