{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="col-lg-12">
        <div class="row">
            <a href="{{antonguitar}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 image">
                <img src="{{antonguitar}}" class="img-fluid">
            </a>
            <a href="{{nastyawinter}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 image">
                <img src="{{nastyawinter}}" class="img-fluid">
            </a>
            <a href="{{matus}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 image">
                <img src="{{matus}}" class="img-fluid">
            </a>
        </div>
        <div class="row">
            <a href="{{valya}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 image">
                <img src="{{valya}}" class="img-fluid">
            </a>
            <a href="{{lorenzosno}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 image">
                <img src="{{lorenzosno}}" class="img-fluid">
            </a>
            <a href="{{vadim}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-2 image">
                <img src="{{vadim}}" class="img-fluid">
            </a>
            <a href="{{anton}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-2 image">
                <img src="{{anton}}" class="img-fluid">
            </a>
        </div>
        <div class="row">
            <a href="{{praha}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-8 image">
                <img src="{{praha}}" class="img-fluid">
            </a>
            <a href="{{soborvita}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 image">
                <img src="{{soborvita}}" class="img-fluid">
            </a>
        </div>
        <div class="row">
            <a href="{{vlada}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 image">
                <img src="{{vlada}}" class="img-fluid">
            </a>
            <a href="{{chinesegirl}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 image">
                <img src="{{chinesegirl}}" class="img-fluid">
            </a>
            <a href="{{goat}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-4 image">
                <img src="{{goat}}" class="img-fluid">
            </a>
        </div>
        <div class="row">
            <a href="{{bikeamsterdam}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-5 image">
                <img src="{{bikeamsterdam}}" class="img-fluid">
            </a>
            <a href="{{saxon}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-lg-7 image">
                <img src="{{saxon}}" class="img-fluid">
            </a>
        </div>
    </div>
</div>
{% endblock %}
